<div class="row">
    <div class="container">
        <div class="logo">
    
        <img alt=""src="../../../assets/img/AP.png" id="logoAP" >
</div>
<div class="redes">
        <a href="https://github.com/"><img alt="" src="../../../assets/img/github.png"id="github">  </a> 
        <a href="https://instagram.com/"><img alt="" src="../../../assets/img/instagram.png"id="instagram"> </a>
        
        <a href="https://www.linkedin.com/in/veronica-ruiz-a33356247/" ><img alt="" src="../../../assets/img/linkedin.png"id="linkedin"> </a>
        <a href="https:/facebook.com"> <img alt=""src="../../../assets/img/facebook.png"id="facebook"></a>
        <button type="button" class="btn-outline-light"(click)="login()"*ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn-outline-light"(click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
        
    </div>
</div>
</div>




